<div class="my-4">
  <h3>Edit Course</h3>

  <form method="POST" action="/courses/{{course._id}}?_method=PUT">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" name='name' value="{{course.name}}" id="name">
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control" name='description' id="description">{{course.description}}</textarea>
    </div>
    
    <div class="mb-3">
      <label for="videoId" class="form-label">Video ID</label>
      <input type="text" class="form-control" name='videoId' value="{{course.videoId}}" id="videoId">
    </div>
    
    <div class="mb-3">
      <label for="level" class="form-label">Level</label>
      <input type="text" class="form-control" name='level' value="{{course.level}}" id="level">
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
  </form>

</div>