<div class="my-4">
  <div>
    <h3>My Courses</h3>
    <a href="/me/trash/courses">Recycle bin</a>
  </div>

  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Level</th>
        <th scope="col">Created at</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
      <tr>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.level}}</td>
        <td>{{this.createdAt}}</td>
        <td>
          <a href="/courses/{{this._id}}/edit" class="btn btn-link">Edit</a>
          <a href="" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#deleteModal"
            data-bs-id="{{this._id}}">Delete</a>
        </td>
      </tr>
      {{else}}
      <tr>
        <td colspan="5" class="text-center">
          You don't have any course. 
          <a href="/courses/create">Create your course now!</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{!-- Dialog confirm --}}
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Confirm</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Delete this course?
      </div>
      <div class="modal-footer">
        <button id="delCourseBtn" type="button" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


{{!-- Delete hidden form --}}
<form name="deleteCourseForm" method="post">

</form>


{{!-- Javascript --}}
<script>
  var courseId
  var deleteForm = document.forms['deleteCourseForm']

  var deleteModal = document.getElementById('deleteModal')
  deleteModal.addEventListener('show.bs.modal', function (event) {
    var button = event.relatedTarget
    courseId = button.getAttribute('data-bs-id') 
  })

  var delCourseBtn = document.getElementById('delCourseBtn')
  delCourseBtn.addEventListener('click', function () {
    deleteForm.action = '/courses/' + courseId + '?_method=DELETE'
    deleteForm.submit()
  })
</script>